/cutPaste/cluster_5_filter_1/
/cutPaste/cluster_5_filter_3/
/cutPaste/cluster_5_filter_5/
/cutPaste/cluster_5_filter_7/
/cutPaste/cluster_5_filter_9/
/cutPaste/cluster_5_filter_11/
/cutPaste/cluster_5_filter_13/
/cutPaste/cluster_5_filter_15/
/data/
/sskt_result/
